<div class="about">
    <div class="wrapper">
        <ul class="features grid mt-l-xl" role="list" data-layout="50-50">
            <li><img src="./images/johan-bender.jpg" alt=""></li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui deserunt neque incidunt esse nihil sunt.
                    Doloremque recusandae dolor, ut repellendus ab facere, commodi asperiores itaque, ipsam nisi iusto a
                    animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquam optio sapiente et maiores
                    illo magni ea similique, praesentium consectetur repudiandae perferendis. Quam quod reprehenderit
                    asperiores praesentium inventore. Quia, at?</p>
            </li>
        </ul>
        <ul class="features grid mt-l-xl" role="list" data-layout="50-50">
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa obcaecati nulla quia veritatis, labore
                    dicta illum facere numquam aut, consectetur asperiores rem maxime recusandae nostrum vitae eligendi
                    commodi? Quis, numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga soluta
                    suscipit inventore sit natus commodi quia incidunt autem quasi. Culpa aperiam libero vitae explicabo
                    dicta vel error quasi quidem.</p>
            </li>
            <li><img src="./images/a123-hero_1_200.jpg" alt=""></li>
        </ul>
    </div>
</div>