<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu.css">
    <title>Document</title>
</head>

<body>
    {% include "navbar.njk" %}
    <main class="flow">
        {% include "hero.njk" %}
        <article>
            {% include "menu.njk" %}
            {{ content | safe }}
        </article>
    </main>
    {% include "footer.njk" %}
</body>

</html>