<footer class="footor-componet">
    <div class="wrapper">
        <ul class="features grid mt-l-xl" role="list" data-layout="50-50">
            <li class="flow">
                <h1>Kontakt information</h1>
                <p>Flygplatsvägen 21, Umeå</p>
                <p>099-09-pizza</p>
                <p>Photo by <a
                        href="https://unsplash.com/@iavnt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ivan
                        Torres</a> on <a
                        href="https://unsplash.com/photos/MQUqbmszGGM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </p>
            </li>

            <iframe title="Karta till Flygplatsvägen 21"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d762.7579002252395!2d20.286757370889152!3d63.795397583873374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ssv!2sse!4v1695105498490!5m2!1ssv!2sse"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </ul>
    </div>
</footer>