.hero {
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/ivan-torres-MQUqbmszGGM-unsplash.jpg");
    min-width: fit-content;
    height: 96vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    color: var(--color-bg);
    margin: 0;
}

.hero-text {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text>h1 {
    margin: var(--space-s);
    font-size: var(--size-step-4);
}

.hero-text>h2 {
    font-size: var(--size-step-3);
    margin: var(--space-s);
}