.about ul {
    list-style: none;
    align-items: start;
    width: 100%;
}

.about li {
    width: fit-content;
    height: auto;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about p {
    text-align: start;
}