nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-bg);
    flex-wrap: wrap;
}

header {
    margin-right: auto;
    display: flex;
    align-items: center;
}

header>p {
    font-size: var(--size-step-0);
    margin-left: .25rem;
}

header>h1 {
    font-size: var(--size-step-1);
    padding: 0 var(--space-xs);
}

.nav-list {
    list-style: none;
    display: flex;
    font-size: var(--size-step-0);
}

.nav-list>li>a {
    text-decoration: none;
    color: inherit;
    padding: 0 var(--space-xs);
}

.nav-list>li>a:hover {
    color: var(--color-light-glare);
}

.nav-button {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0 var(--space-xs);
}

@media (min-width: 800px) {
    .nav-button {
        display: none;
    }
}

@media (max-width: 799px) {
    .nav-collapse {
        display: none;
    }

    .nav-list {
        width: 100%;
        margin-top: 0;
    }
}

.nav-collapse--show {
    display: block;
    width: 100%;
}

.nav-collapse--show>ul {
    text-align: right;
    flex-direction: column;
    padding: 0;
}